/* media query */

@media screen and (max-width: 425px) {


    div.container-1 {
        width: 100%;

        & p {
            width: calc((100% / 12)* 10);
        }
    }

    div#wrapper {
        flex-direction: column;
        flex-wrap: wrap;

        & input {

            width: calc((100% / 12)* 8);
            margin-top: 1rem;
            color: blue;

        }
    }

    p#p-from1 {
        display: none;
    }

}

@media screen and (min-width: 425px) {

    p#p-from2{
        display: none;
    }

    p#p-from1{
        display: block;
    }
}